{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('footercss/demo.css') }}">
<link rel="stylesheet" href="{{ asset('footercss/css.css') }}">
<link rel="stylesheet" href="{{ asset('css/footercss/piePagina.css') }}">
<link rel="stylesheet" href="{{ asset('bower_components/bootstrap/font-awesome-4.6.3/css/font-awesome.min.css') }}">

{% endblock %}
{% block body %}
<footer class="footer-distributed">

			<div class="footer-left">

				<img src="{{ asset('img/favico2.png') }}" WIDTH=95 HEIGHT=115 alt="loguito" />

        <img src="{{ asset('img/by-sa_petit.png') }}" alt="tira" />


			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>microcentro haras</span> Huaras, Áncash, Perú</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+54 43-5 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:cqfa@cqfa.com">cqfa@cqfa.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Colegio Químico Farmaceutico de Áncash</span>

        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>

				</div>

			</div>

		</footer>
{% endblock %}
